# Version control
.git
.gitignore

# Dependencies
node_modules

# Logs
*.log
logs

# Environment variables
.env
.env.*

# Development files
*.md
LICENSE
docker-compose.yml
.dockerignore
Dockerfile

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# System files
.DS_Store
Thumbs.db